.Beer-search-form {
  text-align: center;
}

.Beer-search-form input {
  height: 30px;
  width: 250px;
}

.Location-search-form {
  text-align: center;
}

.Location-search-form input {
  height: 30px;
  width: 250px;
}