@media(min-width:400px) {

}

@media(min-width:597px) {
  
}

@media(min-width:700px) {
  
}

@media(min-width:890px) {
  
}

@media(max-width:1170px) {
}

.Container {
  background-color: #fff;
  height: 100%;
  width: 80%;
  margin: 0;
}

.FlexContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  -webkit-flex-direction: row;
}

ul.LeftFlexContainer {
  background-color: #E88140;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 130px;
  
  list-style-type: none;
  flex-grow: 1;
  min-width: 100%;

}

.LeftFlexContainer li {
  display: inline;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 5px;
}

.Title {
  color: #fff;
  font-family: 'Bungee Shade', cursive;
}

.Left {
  float: left;
}

.Subtitle {
  position: relative;
  top: 80px;
  right: 290px;
}

.PageLink a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

.PageLink a:hover {
  color: #5D5E5E;
  text-decoration: none;
}

.Right a {
  float: right; 
  padding: 20px;
}

li.Right.Top {
  padding-top: 20px;
}

li.Left.Title {
  font-size: 55px;
}

.Beer-search-form {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 60px;
}

.Beer-search-form input, .Location-search-form input {
  height: 30px;
  width: 300px;
  padding-left: 10px;

  border: 3px solid #4CB2AD;
}

.Placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  position: relative;
  bottom: 5px;
  right: 120px;

}

.Location-search-form {
  text-align: center;
}

.beer-search, .location-search {
  position: relative;
  left: 10px;

  background-color: #4CB2AD;
  border: 1px solid #4CB2AD;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 30px;
  width: 70px;
}

.beer-search-clear, .location-search-clear {
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  position: relative;
  left: 20px;
}

// CSS for BreweryList File
.BreweryListContainer {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
}

.BreweryInfo {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  justify: left-justify;
}

// CSS for Contact Component
.Contact-Container {
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}

.Contact-Container p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
  
  .Contact, .About {
    font-family: 'Bungee', cursive;
    font-size: 36px;
    color: #5D5E5E;
    padding-bottom: 20px;
  }


// CSS for About Component
.About-Container {
  font-size: 18px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

.About-SubTitle {
  font-size: 24px;
}

// CSS SearchTour Component
.SearchContainer {
  text-align: center;
  padding-top: 60px;
}

.SearchLogo {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  color: #5D5E5E;
}

.SearchSubtitle {
  font-family: 'Open Sans', sans-serif;
}

a.PortfolioLink {
  color: #4CB2AD;
  font-family: 'Open Sans', sans-serif;
}

.BeerSearchResults {
  text-align: center;
}

// ul.BeerSearchResults li {
//   display: inline;
//   // margin: 0 auto;
// }

// li .BeerSearchResults {
//   display: inline;
// }

.BeerName {
  padding-left: 20px;
}
